body {
    margin: 0;
    padding: 0;
}

header {
    width: 1920px;
    height: 75px;
    background-color: #222222;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

top {
    position: relative;
    width: 1920px;
    height: 764px;
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    padding: 0 64px;
    box-sizing: border-box;
}

main {
    width: 1920px;
    height: 2121px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 64px;
    box-sizing: border-box;
}

predominantly {
    width: 1920px;
    height: 341px;
    background-color: #222224;
    display: flex;
    align-items: center;
    padding: 0 64px;
    box-sizing: border-box;
}

subscribe {
    width: 1920px;
    height: 341px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 64px;
    box-sizing: border-box;
}

bot {
    width: 1920px;
    height: 79px;
    background-color: #222224;
    display: flex;
    align-items: center;
    padding: 0 64px;
    box-sizing: border-box;
}

.sprite {   
    background-size: cover;
    transition: background-image 0.3s ease;
}

.logo-sprite {
    width: 44px; /* Замените на ширину вашего спрайта */
    height: 38px; /* Замените на высоту вашего спрайта */
    position: absolute;
    left: 14.44%;
    right: 82.81%;
    background-image: url('Sprites/logo_button.svg');
}

.search-sprite {
    width: 26px; /* Замените на ширину вашего спрайта */
    height: 27px; /* Замените на высоту вашего спрайта */
    position: absolute;
    left: 19.75%;
    right: 78.63%;
    background: #222222;
    background-image: url('Sprites/search_button.svg');
}

.menu-sprite {
    width: 32px; /* Замените на ширину вашего спрайта */
    height: 23px; /* Замените на высоту вашего спрайта */
    position: absolute;
    left: 75.06%;
    right: 22.94%;
    background: #222222;
    background-image: url('Sprites/menu_button.svg');
}

.accaunt-sprite {
    width: 29px; /* Замените на ширину вашего спрайта */
    height: 29px; /* Замените на высоту вашего спрайта */
    position: absolute;
    left: 79.12%;
    right: 19.06%;
    background: #222222;
    background-image: url('Sprites/accaunt_button.svg');
}

.shop-sprite {
    width: 32px; /* Замените на ширину вашего спрайта */
    height: 29px; /* Замените на высоту вашего спрайта */
    position: absolute;
    left: 83.18%;
    right: 16.18%;
    background: #222222;
    background-image: url('Sprites/shop_button.svg');
}

.image1-sprite {
    width: 800.58px; /* Замените на ширину вашего спрайта */
    height: 764px; /* Замените на высоту вашего спрайта */
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url('Sprites/image1_top.png');
}

.site-title_black-bold {
    position: absolute;
    left: 55.75%;
    right: 20.69%;
    top: 45%;
    bottom: 55%;
    font-size: 48px;
    font-weight: 700;
}

.site-title_black-normal {
    position: absolute;
    left: 55.75%;
    right: 20.69%;
    top: 52%;
    bottom: 48%;
    font-size: 32px;
    font-weight: 100;
}

.site-title_pink-normal {
    position: absolute;
    left: 68%;
    right: 32%;
    top: 52%;
    bottom: 48%;
    font-size: 32px;
    font-weight: 100;
    color: #F16D7F;
}

.nav-links {
    display: flex;
    gap: 32px; /* Расстояние между ссылками */
}

.nav-links a {
    font-family: 'Monocraft', monospace;
    font-size: 35px;
    color: white; /* Цвет шрифта */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавный переход цвета */
}

.nav-links a:hover {
    color: #ccc; /* Цвет при наведении */
}